{% extends 'base.html' %}
{% block background %} {% endblock %}
{% block top %} {% endblock %}

{% block content %}
    <section id="profile" class="login-page">
        <h2>Twoje dane:</h2>
        <p><b>Nazwa:</b> {{ user }}</p>
        <p><b>Imię:</b> {{ user.first_name }}</p>
        <p><b>Nazwisko:</b> {{ user.last_name }}</p>
        <p><b>Mail:</b> {{ user.email }}</p>
        <h2>Dary</h2>
        {% if donations|length == 0 %}
            <h2>Brak przekazanych darów</h2>

        {% else %}
            <ol>
                {% for donation in donations %}
                    <li>
                        <p><b>Ilość worków:</b> {{ donation.quantity }}</p> <br>
                        <p><b>Instytucja:</b> {{ donation.institution }}</p> <br>
                        <p><b>Kategoria:</b> {% for cat in donation.categories.all %}{{ cat.name }}{% endfor %}</p> <br>
                        <p><b>Data przekazania:</b> {{ donation.pick_up_date }}</p> <br>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
        <div>
            <h2>{{ msg }}</h2>
        </div>


    </section>
{% endblock %}

