{% extends 'base.html' %}
{% block background %} {% endblock %}
{% block top %} {% endblock %}

{% block content %}
    <section id="profile" class="login-page">
        <h2>Twoje dane:</h2>
        <p><b>Nazwa:</b> {{ user }}</p>
        <p><b>Imię:</b> {{ user.first_name }}</p>
        <p><b>Nazwisko:</b> {{ user.last_name }}</p>
        <p><b>Mail:</b> {{ user.email }}</p>
        <h2>Dary</h2>
        {% if donations|length == 0 %}
            <h2>Brak przekazanych darów</h2>

        {% else %}
            <table class="table table-hover table-light">
                <thead>
                <th scope="col">L.p.</th>
                <th scope="col">Ilość worków</th>
                <th scope="col">Instytucja</th>
                <th scope="col">Kategoria</th>
                <th scope="col">Data przekazania</th>
                </thead>
                <tbody>
                {% for donation in donations %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ donation.quantity }}</td>
                    <td>{{ donation.institution }}</td>
                    <td>{% for cat in donation.categories.all %}{{ cat.name }}{% endfor %}</td>
                    <td>{{ donation.pick_up_date }}</td>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <div>
            <h2>{{ msg }}</h2>
        </div>

    </section>
{% endblock %}

