{% extends 'base.html' %}
{% block background %} {% endblock %}
{% block top %} {% endblock %}

{% block content %}
    <section id="register" class="login-page">
        <h2>Zmiana hasła:</h2>
        <p>Wpisz nowe i stare hasło</p>
        <form action="#" method="post">
            {% csrf_token %}
            <div style="color: red;">{{ msg }}</div>
            <div class="form-group">Mail:<br>
                {{ form.mail }}
            </div>            <div class="form-group">Stare hasło:<br>
                {{ form.password_old }}
            </div>
            <div class="form-group">Nowe hasło:<br>
                {{ form.password_new }}
            </div>
            <div class="form-group">Ponownie wprowadź nowe hasło:<br>
                {{ form.password_new_repeat }}
            </div>

            <div class="form-group form-group--buttons">
                <a href="{% url 'profile' %}" class="btn btn--without-border">Profil</a>
                <button class="btn" type="submit">Zmień dane</button>
            </div>
        </form>
    </section>
{% endblock %}